*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Consolas';*/
  text-align: center;
}

h1{
  padding-top: 5rem;
  font-size: 3rem;
}

h3{
  padding-top: 3rem;
  font-size: 2rem;
}

body {
  background-color: #328F16;
}

.container{
  margin: auto;
  width: 600px;
  height: 520px;
  top: 9rem;
  background: #3BACDB;
  border: 2px solid black;
  padding: .5rem;
  box-shadow: 5px 10px #0D4200;
}

.container table tr td{
  width: 90px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}


.reset{
  font-size: 1.2rem;
  font-weight: 700;
  margin:auto;
  width: 12rem;
  height: 2.2rem;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid black;
  background: #006E66;
  cursor: pointer;
  box-shadow: 6px 5px #0D4200;
  transition: .2s;
}

.reset:hover{
transition: 0.5s;
box-shadow: 0px 0px #003330;
}

.exit{
  font-size: 1.2rem;
  font-weight: 700;
  margin: auto;
  width: 12rem;
  height: 2.2rem;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid black;
  background: #006E66;
  cursor: pointer;
  box-shadow: 6px 5px #0D4200;
  transition: .2s;
}

.exit:hover{
transition: 0.5s;
box-shadow: 0px 0px #003330;
}

@media screen and (max-width: 600px){
  .container{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      height: 520px;
      top: 9rem;
      border: 2px solid black;
      padding: .5rem;
  }
}

.start-screen {
    width: 600px;
    margin: 0 auto;
}

.start-screen h1 {
    text-align: center;
    font-size: 3rem;
    color: #111;
    padding-top: 30px;
    margin-bottom: 40px;
}

.gameplay-choices button {
    padding: 5px 25px;
    background: #189116;
    color: white;
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.start-screen button:hover {
    background: #189116e1;
    cursor: pointer;
}

.create-room-box {
    display: none;
}

.join-with-id,
.create-room-box {
    width: 70%;
    margin: 0 auto;
}

.join-with-id input,
.create-room-box input {
    width: 80%;
    height: 35px;
    border: 1px solid #333;
    outline: none;
    padding: 5px;
    margin: 0;
}

.join-with-id button,
.create-room-box button {
    width: 20%;
    margin: 0;
    height: 35px;
    background: #189116;
    color: white;
    outline: none;
    border: none;
}

.join-with-id .cancel-action,
.create-room-box .cancel-action {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: #ccc;
    color: #333;
}

.cancel-action:hover {
    background: #ddd !important;
}

.gameplay-screen {
    display: none;
}

.wait-message {
    width: 600px;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.wait-message p {
    text-align: center;
}

.connected-players {
    width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.connected-players .player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connected-players .player .dot {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 5px;
}

.connected-players .player .connected {
    background: green;
}

.connected-players .player:first-child {
    margin-right: 30px;
}

.choices {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease-in;
}

.choice {
    font-size: 5rem;
    margin-right: 40px;
}

.choice:last-child {
    margin-right: 0;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.message-after-choice-selection {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.message-after-choice-selection p {
    text-align: center;
    font-size: 1.2rem;
}

.join-room-box {
    display: none;
}

.join-room-box .join-random {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 35px;
    background: #189116;
    color: white;
    outline: none;
    border: none;
    margin-top: 30px;
}

.error-message {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
    background: rgb(209, 61, 61);
    color: white;
    padding: 20px;
}

.error-message p {
    text-align: center;
    font-size: 1.1rem;
}

.my-choice {
    color: green;
}

.enemy-choice {
    color: red;
}
