#ruletaCompleta {
  width: 60vmin;
  height: 60vmin;
}

.palito {
  position: relative;
  top: -31vmin;
  left: 33vmin;
  z-index: 100;
  border-left: 3vmin solid transparent;
  border-right: 3vmin solid transparent;
  border-top: 6vmin solid red;
}

.girarRuleta {
  animation: girar forwards cubic-bezier(0.23, 0.85, 0.54, 0.99) 5s;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--ang, 360deg));
  }
}

body {
  background: #044806;
}

.content.ruleta {
  flex-direction: row;
}

.containerMenu.ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vmin;
}

.casilla {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #0f6c00;
  font-size: 2vmin;
  font-family: "Anton", sans-serif;
  cursor: pointer;
}

.verde {
  background: #56b602;
}

.rojo {
  background: #e40606;
}

.negro {
  background: #181818;
}

.c-0 {
  grid-area: c-0;
}
.c-1 {
  grid-area: c-1;
}
.c-2 {
  grid-area: c-2;
}
.c-3 {
  grid-area: c-3;
}
.c-4 {
  grid-area: c-4;
}
.c-5 {
  grid-area: c-5;
}
.c-6 {
  grid-area: c-6;
}
.c-7 {
  grid-area: c-7;
}
.c-8 {
  grid-area: c-8;
}
.c-9 {
  grid-area: c-9;
}
.c-10 {
  grid-area: c-10;
}
.c-11 {
  grid-area: c-11;
}
.c-12 {
  grid-area: c-12;
}
.c-13 {
  grid-area: c-13;
}
.c-14 {
  grid-area: c-14;
}
.c-15 {
  grid-area: c-15;
}
.c-16 {
  grid-area: c-16;
}
.c-17 {
  grid-area: c-17;
}
.c-18 {
  grid-area: c-18;
}
.c-19 {
  grid-area: c-19;
}
.c-20 {
  grid-area: c-20;
}
.c-21 {
  grid-area: c-21;
}
.c-22 {
  grid-area: c-22;
}
.c-23 {
  grid-area: c-23;
}
.c-24 {
  grid-area: c-24;
}
.c-25 {
  grid-area: c-25;
}
.c-26 {
  grid-area: c-26;
}
.c-27 {
  grid-area: c-27;
}
.c-28 {
  grid-area: c-28;
}
.c-29 {
  grid-area: c-29;
}
.c-30 {
  grid-area: c-30;
}
.c-31 {
  grid-area: c-31;
}
.c-32 {
  grid-area: c-32;
}
.c-33 {
  grid-area: c-33;
}
.c-34 {
  grid-area: c-34;
}
.c-35 {
  grid-area: c-35;
}
.c-36 {
  grid-area: c-36;
}
.c-1-18 {
  grid-area: c-1-18;
}
.c-19-36 {
  grid-area: c-19-36;
}
.c-even {
  grid-area: c-even;
}
.c-odd {
  grid-area: c-odd;
}
.c-red {
  grid-area: c-red;
}
.c-black {
  grid-area: c-black;
}
.c-1-12 {
  grid-area: c-1-12;
}
.c-13-24 {
  grid-area: c-13-24;
}
.c-25-36 {
  grid-area: c-25-36;
}
.c-1row {
  grid-area: c-1row;
}
.c-2row {
  grid-area: c-2row;
}
.c-3row {
  grid-area: c-3row;
}
.c-vacio1 {
  grid-area: c-vacio1;
  background: #044806;
}
.c-vacio2 {
  grid-area: c-vacio2;
  background: #044806;
}
.c-vacio3 {
  grid-area: c-vacio3;
  background: #044806;
}
.c-vacio4 {
  grid-area: c-vacio4;
  background: #044806;
}

.tablero.ruleta {
  display: grid;
  background: #9d9d9d;
  border: solid #3f3f3f 6px;
  grid-gap: 4px;
  width: calc(70vmin + 52px);
  padding: 4px;
  height: auto;
  grid-template-columns: repeat(14, 5vmin [col-start]);
  grid-template-rows: repeat(5, 5vmin [row-start]);
  grid-template-areas:
    "c-vacio1 c-1-12 c-1-12 c-1-12 c-1-12 c-13-24 c-13-24 c-13-24 c-13-24 c-25-36 c-25-36 c-25-36 c-25-36 c-vacio2"
    "c-0 c-3 c-6 c-9 c-12 c-15 c-18 c-21 c-24 c-27 c-30 c-33 c-36 c-1row"
    "c-0 c-2 c-5 c-8 c-11 c-14 c-17 c-20 c-23 c-26 c-29 c-32 c-35 c-2row"
    "c-0 c-1 c-4 c-7 c-10 c-13 c-16 c-19 c-22 c-25 c-28 c-31 c-34 c-3row"
    "c-vacio3 c-1-18 c-1-18 c-19-36 c-19-36 c-red c-red c-black c-black c-odd c-odd c-even c-even c-vacio4";
}

.ganador.ruleta {
  width: auto;
  opacity: 1;
  font-size: 3rem;
  color: greenyellow;
  position: absolute;
  font-family: "Kanit", sans-serif;
  z-index: 1000;
}

.perdedor.ruleta {
  width: auto;
  opacity: 1;
  font-size: 3rem;
  color: red;
  position: absolute;
  font-family: "Kanit", sans-serif;
  z-index: 1000;
}

.mostrar {
  animation: desaparecer 2s ease-out;
}

.disable {
  background: grey;
  box-shadow: none;
  pointer-events: none;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
