/**

  possible palletes:
  --bg: #4b3869;
  --cont: #664e88;
  --btns: #a9e4d7;

  --bg: #22577a;
  --cont: #38a3a5;
  --btns: #80ed99;
  --btnsHover: #42bc85;

  --bg: #555b6e;
  --cont: #89b0ae;
  --btns: #ffd6ba;

  --bg: #293241;
  --cont: #3d5a80;
  --btns: #ee6c4d;

  --bg: #125c13;
  --cont: #3e7c17;
  --btns: #f4a442;

**/

/** START GENERALS **/

:root {
  --bg: #22577a;
  --cont: #38a3a5;
  --btns: #7cec95;
  --btnsHover: #35b576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg);
}

/** END GENERALS **/

/** START CONTAINERS **/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-container {
  height: 50vmin;
  width: 50vmin;
  padding: 6vmin;
  background: var(--cont);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 60px;
  border-radius: 14%;
}

/** END CONTAINERS **/

/** START BUTTONS **/

.btn {
  width: 50vmin;
  font-family: "Kanit", sans-serif;
  color: black;
  background: var(--btns);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: var(--btnsHover);
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.25) 0 15px 30px -15px inset;
}

.btn.inicio {
  width: 50vmin;
  height: 15vmin;
  margin: 4vmin 0;
  font-size: 5vmin;
  border-radius: 6% / 18%;
}

.btn.crear,
.btn.iniciar,
.btn.lobby {
  width: 50vmin;
  height: 12vmin;
  margin: 2.5vmin 0;
  font-size: 4.5vmin;
  border-radius: 4.3% / 18%;
}

/** END BUTTONS **/

.textBox {
  width: 46vmin;
  height: 8vmin;
  margin: 2.5vmin 0;
  font-family: "Kanit", sans-serif;
  font-size: 4.5vmin;
  border-radius: 3.5% / 20%;
  background: #cfffcf;
  color: black;
  padding: 2vmin;
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
}

.textBox:focus {
  border: 3px solid #555;
}

/** START LOBBYS **/

.container-juego {
  width: 25vw;
  height: 75vmin;
  margin: 3vw;
  background: var(--cont);
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 60px;
}

.image.juego {
  width: 20vw;
  height: 20vw;
  margin: 0.8vw;
  background: grey;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-family: "Kanit", sans-serif;
}

.crear-mesa-btn.juego {
  width: 20vw;
  height: 5vw;
  margin: 0.8vw;
  background: var(--btns);
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 5% / 20%;
}

.crear-mesa-btn.juego:hover {
  background: var(--btnsHover);
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.25) 0 15px 30px -15px inset;
}

.description.juego {
  width: 20vw;
  height: 5vw;
  margin: 0.8vw;
  background: grey;
  border-radius: 5% / 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-family: "Kanit", sans-serif;
}
