*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas';
  text-align: center;
  margin-top: 0.5rem;
 
}

h1{
  padding-top: 5rem;
  font-size: 3rem;
}

h3{
  padding-top: 33rem;
  font-size: 2rem;
}

a{
  position: absolute;
  top:6rem;
  font-size: 2rem;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

a:hover{
  opacity: 0.7;
}



body {
  background-color: #328F16;
}

.container{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 520px;
  top: 9rem;
  background: #3BACDB;
  border: 2px solid black;
  padding: .5rem;
  box-shadow: 5px 10px #0D4200;
}

.container table tr td{
  width: 90px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}


.reset{
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top:36rem;
  left: 30%;
  transform: translate(-50%);
  width: 12rem;
  height: 2.2rem;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid black;
  background: #006E66;
  cursor: pointer;
  box-shadow: 6px 5px #0D4200;
  transition: .2s;
}

.reset:hover{
transition: 0.5s;
box-shadow: 0px 0px #003330;
}

.exit{
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top:36rem;
  left: 70%;
  transform: translate(-50%);
  width: 12rem;
  height: 2.2rem;
  text-align: center;
  padding: 0.3rem;
  border: 0.1rem solid black;
  background: #006E66;
  cursor: pointer;
  box-shadow: 6px 5px #0D4200;
  transition: .2s;
}

.exit:hover{
transition: 0.5s;
box-shadow: 0px 0px #003330;
}

@media screen and (max-width: 600px){
  .container{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      height: 520px;
      top: 9rem;
      border: 2px solid black;
      padding: .5rem;
  }
}

/** NAVBAR START **/

#lobbyPage {
  width: 100vw;
  height: 100vh;
}

#logo {
  width: 365px;
  height: 100px;
  margin-left: 2.5vmin;
}

.navbar {
  width: 100vw;
  height: 12vmin;
  background: var(--navColor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar ul li {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin-right: 5vmin;
  color: var(--cont);
  font-size: 1.8rem;
}

.navbar ul li a {
  background: #cf0b2b;
  color: lightgray;
  border-radius: 15% / 25%;
  padding: 1.5vmin;
  text-decoration: none;
  margin-right: -1.5vmin;
  transition: 0.3s;
}

.navbar ul li a:hover {
  background: #790c1e;
  transition: 0.3s;
}

/** NAVBAR END **/